@model firstApplication.Models.CepInfo

<h1>Informações do CEP</h1>

<div>
    <strong>CEP:</strong> @Model.Cep<br />
    <strong>Logradouro:</strong> @Model.Logradouro<br />
    <strong>Complemento:</strong> @Model.Complemento<br />
    <strong>Bairro:</strong> @Model.Bairro<br />
    <strong>Localidade:</strong> @Model.Localidade<br />
    <strong>UF:</strong> @Model.Uf<br />
    <strong>IBGE:</strong> @Model.Ibge<br />
    <strong>GIA:</strong> @Model.Gia<br />
    <strong>DDD:</strong> @Model.Ddd<br />
    <strong>SIAFI:</strong> @Model.Siafi<br />
</div>
